<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <title> FinalProject -Júlio Uchôa </title>

        <link href="style1.css" rel="stylesheet">

    </head>
    <body>

        <div class="container">
                <div id="nav">
                    <!--adiciona logo na area 'nav' -->
                    <div id="logo">
                        <img alt="Bit" scr="bitcoin.jpg">
                    </div>
                    <!--adiciona menu links-->
                    <div id="menu">
                        <a href="#"> Simulator </a>
                        <a href="#"> Bitcoin! </a>
                    </div>
                </div>

                <div id="main"> Main </div>

                <div id="sidebar">
                    <div id="menue">
                        <a href="#"> Login </a>
                        <a href="#"> Register </a>
                    </div>
                </div>

            <div id="conteudo"> Conteudo </div>
            <div id="conteudo2"> Conteudo2 </div>
            <div id="conteudo3"> conteudo 3</div>
            <div id="footer"> footer </div>

        </div>

    </body>
</html>